<%- include('partial/header') %>

<div class="container">
    <form action="/invoice/<%= housebl._id %>" method="post" style="padding: 10px;">
        <div style="margin: 5px;">
            <label style="width: 150px;" for="invoiceno">Invoice No. : </label>
            <input style="padding: 2px 8px; border: none;" type="text" name="invoiceno" value="<%= housebl.mblno.jobno %>">
        </div>
        <div style="margin: 5px;">
            <label style="width: 150px;" for="invoiceto">Invoice To : </label>
            <input style="padding: 2px 8px; border: none;" type="text" name="invoiceto" value="<%= housebl.consignee %>">
        </div>
        <div style="margin: 5px;">
            <label style="width: 150px;" for="hblno">House BL No. : </label>
            <input style="padding: 2px 8px; border: none;" type="text" name="hblno" value="<%= housebl.hblno %>">
        </div>
        <div style="margin: 5px;">
            <label style="width: 150px;" for="conno">Container No. : </label>
            <input style="padding: 2px 8px; border: none;" type="text" name="conno" value="<%= housebl.containerno %>">
        </div>
        <div style="margin: 5px;">
            <label style="width: 150px;" for="origin">Country of Origin : </label>
            <input style="padding: 2px 8px; border: none;" type="text" name="origin" value="<%= housebl.mblno.origin %>">
        </div>
        <div style="margin: 5px; display: flex; justify-content: space-around;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 80%">Description</th>
                        <th style="width: 20%;">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="description1" placeholder="Descriptions">
                        </td>
                        <td >
                            <input class="form-control" id="value1" type="number" name="amount1" placeholder="0">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="description2" placeholder="Descriptions">
                        </td>
                        <td>
                            <input class="form-control" id="value2" type="number" name="amount2" placeholder="0">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="description3" placeholder="Descriptions">
                        </td>
                        <td>
                            <input class="form-control" id="value3" type="number" name="amount3" placeholder="0">
                        </td>
                    </tr>
                    <!-- <tr>
                        <td style="width: 85%; border: none; padding: 4px;"> Total Amount : </td>
                        <td style="width: 20%;">0</td>
                    </tr> -->
                </tbody>
            </table>
        </div>
        <button class="btn btn-success" type="submit">Save</button>
    </form>

</div>

<%- include('partial/footer') %>