<%- include('partial/header') %>

<div class="container">
    <form action="/invoice/<%= invoice._id %>/edit" method="post" style="padding: 10px;">
        <div class="row" style="padding: 5px 30px;">            
            <div class="col-2">
                <p style="padding: 2px 8px;">Invoice No. </p>
                <p style="padding: 2px 8px;"><strong>Invoice To.</strong></p>
                <p style="padding: 2px 8px;">House BL No.</p>
                <p style="padding: 2px 8px;">Container No.</p>
                <p style="padding: 2px 8px;">Origin </p>
            </div>
            <div class="col-8">
                <p><input style="padding: 2pxpx 8px; outline-style: none; border: 1px solid #EEE;" type="text" name="invoiceno" value="<%= invoice.invoiceno %>"></p>
                <p><input style="padding: 2pxpx 8px; outline-style: none; border: 1px solid #EEE;" type="text" name="invoiceto" value="<%= invoice.invoiceto %>"></p>
                <p><input style="padding: 2pxpx 8px; outline-style: none; border: 1px solid #EEE;" type="text" name="hblno" value="<%= invoice.hblno %>"></p>
                <p><input style="padding: 2pxpx 8px; outline-style: none; border: 1px solid #EEE;" type="text" name="conno" value="<%= invoice.conno %>"></p>
                <p><input style="padding: 2pxpx 8px; outline-style: none; border: 1px solid #EEE;" type="text" name="origin" value="<%= invoice.origin %>"></p>
            </div>
        </div>
        <div style="margin: 5px; display: flex; justify-content: space-around;">
            <table class="table">
                <thead>
                    <tr>
                        <th style="width: 80%">Description</th>
                        <th style="width: 20%;">Amount</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="description1" placeholder="Descriptions" value="<%= invoice.description1 %>">
                        </td>
                        <td >
                            <input class="form-control" id="value1" type="text" name="amount1" placeholder="0" value="<%= invoice.amount1 %>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="description2" placeholder="Descriptions" value="<%= invoice.description2 %>">
                        </td>
                        <td>
                            <input class="form-control" id="value2" type="text" name="amount2" placeholder="0" value="<%= invoice.amount2 %>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="description3" placeholder="Descriptions" value="<%= invoice.description3 %>">
                        </td>
                        <td>
                            <input class="form-control" id="value3" type="text" name="amount3" placeholder="0" value="<%= invoice.amount3 %>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <input class="form-control" type="text" name="description4" placeholder="Descriptions" value="<%= invoice.description4 %>">
                        </td>
                        <td>
                            <input class="form-control" id="value4" type="text" name="amount4" placeholder="0" value="<%= invoice.amount4 %>">
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <p class="form-control" style="height: 36px; text-align: right; border: none;"><strong>Total Amount :</strong> </p>
                        </td>
                        <td>
                            <p class="form-control" style="height: 36px;"> 
                                <strong>Tk. 
                                    <span id="total">
                                        <%= invoice.amount1 + invoice.amount2 + invoice.amount3 + invoice.amount4 %></span></strong></p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        
        
        <div class="row">
            <div class="col-4">
                <a class="btn btn-primary" href="/invoice/<%= invoice._id %>/view">⇐ Back</a>
                <button class="btn btn-success" type="submit">Save</button>
            </div>  
            <div class="col-8">
                <% if (error && error.length > 0) { %>
                 <h6 style="color: red;"><%= error %></h6>
                <% } %>
            </div>          
        </div>
    </form>

    <script>
        document.addEventListener("keyup", (event)=>{
            const taka = parseFloat(document.getElementById("value1").value);
            const taka1 = parseFloat(document.getElementById("value2").value);
            const taka2 = parseFloat(document.getElementById("value3").value);
            const taka3 = parseFloat(document.getElementById("value4").value); 
            document.getElementById("total").innerHTML = taka + taka1 + taka2
        });
    </script>

</div>

<%- include('partial/footer') %>