<%- include('partial/header') %>

<div class="container">
    <table class="table table-hover" id="import">
        <thead class="table-primary">
            <th class="table-data">JOB NO</th>
            <th class="table-data">MASTER BL</th>
            <th class="table-data">SHIPPER</th>
            <th class="table-data">AGENT</th>
            <th class="table-data">DATE ON BOARD</th>
            <th class="table-data">ETA</th>
            <th class="table-data">Details</th>
        </thead>
        <% importList.forEach(data => { %>
            <tbody>
                <td style="padding: 6px;"><%= data.jobno %></td>
                <td style="padding: 6px;"><%= data.mblno %></td>
                <td style="padding: 6px;"><%= data.shipper.slice(0, 20) %>...</td>
                <td style="padding: 6px;"><%= data.agent.slice(0, 40) %>...</td>
                <td style="padding: 6px;"><%= moment(data.dateonboard).format("DD-MMM-YYYY") %></td>
                <% if (data.eta - new Date() < 12) { %>
                    <td style="padding: 6px; color: green; font-weight: bold; background-color: rgb(210, 241, 253);"><%= moment(data.eta).format("DD-MMM-YYYY") %></td>
                <% } else { %>
                    <td><%= moment(data.eta).format("DD-MMM-YYYY") %></td>
                <% } %>
                <td style="padding: 2px;"><a class="btn btn-info" style="padding: 2px;" href="import/<%= data._id %>">Details</a></td>
            </tbody>
        <% }) %>
    </table>
</div>

<%- include('partial/footer') %>