<%- include('partial/header') %>

<div class="login" style="margin-top: 10px;">
    <h2>Resigter</h2>
    <div class="signup login-form">
        <form action="/user" method="post">
            <label id="form-label" for="username" style="font-weight: bold;">User Name</label>
            <input id="form-input" type="text" id="username" name="username" value="<%= formData.username %>" placeholder="Enter Username.." required>

            <label id="form-label" for="email" style="font-weight: bold;">Email</label>
            <input id="form-input" type="email" id="email" name="email" value="<%= formData.email %>" placeholder="Enter Email.." required>
            
            <div>
                <label id="form-label" for="role" style="font-weight: bold;">User Type</label>
                <select id="form-input" name="role" id="role">
                    <option value="user">User</option>
                    <option value="admin">Admin</option>
                </select>
            </div>
            
            <label id="form-label" for="password" style="font-weight: bold;">Password</label>
            <input id="form-input" type="text" id="password" name="password" placeholder="Enter Password.." required>

            <label id="form-label" for="confirmPassword" style="font-weight: bold;">Confirm Password</label>
            <input id="form-input" type="text" id="confirmPassword" name="confirmPassword" placeholder="Confirm Password.." required>
            <% if (error && error.length > 0) { %>
                <p style="color: #fc2727; padding: 5px 0;"><%= error %></p>
            <% } %>
            <button class="btn" type="submit">Signup</button>            
        </form>
        <p style="color: blueviolet;">Please <strong><a href="/">Login</a></strong> if already have an account.</p>
    </div>
</div>

<%- include('partial/footer') %>