
<%- include('partial/header') %>
    <div class="container">
        <h5 style="padding: 5px; background-color: #CCC;">Import Details  
            <span><a class="btn btn-info" href="/index">← Back to Index</a></span></h5>
        <div id="basicData">
            <div class="import-item">
                <p class="item-header">Job No.</p>
                <p class="item-data">
                    <%= imports.jobno %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Master BL No.</p>
                <p class="item-data">
                    <%= imports.mblno %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Date on Board</p>
                <p class="item-data">
                    <%#= new Date(imports.dateonboard).toDateString() %>
                    <%= moment(imports.dateonboard).format("DD-MMM-YY") %>                    
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">E.T.A</p>
                <p class="item-data">
                    <%= moment(imports.eta).format("DD-MMM-YY") %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Container Type</p>
                <p class="item-data">
                    <%= imports.containertype %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Shipper Name</p>
                <p class="item-data">
                    <%= imports.shipper %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Country of Origin</p>
                <p class="item-data">
                    <%= imports.origin %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Port of Loading</p>
                <p class="item-data">
                    <%= imports.portofloading %>
                </p>
            </div>
            
        </div>
        <!-- Basic info end here -->
        <div class="import-item">
                <a style="float: right; margin: 0 20px 10px;" class="btn btn-info" href="/import/house/<%= imports._id %>">Add New HBL</a>                
            </div>

        <div id="housebl-info">
            <!-- <h5 style="padding: 5px; background-color: #CCC;">House BL Information</h5> -->
            <table class="table table-hover" style="width: 100%; ">
                <thead class="table-light">
                    <tr>
                        <th>House BL</th>
                        <th>Consignee</th>
                        <th>Container No.</th>
                        <th>Con. Size</th>
                        <th>Cont. Seal No.</th>
                        <th>Quantity</th>
                        <th>Create Invoice</th>
                    </tr>
                </thead>
                <% hbls.forEach(hbl=> { %>
                    <tbody>
                        <tr>
                            <td>
                                <%= hbl.hblno %>
                            </td>
                            <td>
                                <%= hbl.consignee %>
                            </td>
                            <td>
                                <%= hbl.containerno %>
                            </td>
                            <td>
                                <%= hbl.containersize %>
                            </td>
                            <td>
                                <%= hbl.containerseal %>
                            </td>
                            <td>
                                <%= hbl.quantity %>
                            </td>
                            <td>
                                <a class="btn btn-info" href="/invoice/<%= hbl._id %>">Create Inv</a>
                            </td>
                        </tr>
                    </tbody>
                    <% }) %>
            </table>
                          
            
            <% if (invoices.length > 0) { %>
                <div class="invoice-info">
                    <div>
                        <h5 style="padding: 5px; background-color: #CCC;">Invoice Details</h5>
                        <table class="table">
                            <thead class="table-light">
                                <tr>
                                    <th>Issue Date</th>
                                    <th>House BL</th>
                                    <th>Invoice To</th>
                                    <th>Amount</th>
                                    <th>Total Received</th>
                                    <th>Option</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% invoices.forEach(invoice => { %>
                                    <tr>
                                        <td><%= moment(invoice.createdAt).format("DD-MMM-YY") %></td>
                                        <td><%= invoice.hblno %></td>
                                        <td><%= invoice.hbl.consignee %></td>
                                        <td style="color: rgb(187, 2, 2);"><%= amountFormat(invoice.amount1 + invoice.amount2 + invoice.amount3)  %></td>
                                        <td style="color: #074107;"><%= amountFormat(invoice.receivedamount) %></td>
                                        <td><a class="btn btn-info" href="/invoice/<%= invoice._id %>/view">View Invoice</a></td>
                                    </tr>
                                <% }) %>
                                
                            </tbody>
                        </table>
                    </div>
                </div>
            <% } else %>
        </div>
    </div>
    <!-- <script>
        function newhbl() {
            const button = document.getElementById("housebl");
            console.log(button.innerHTML);
        }
    </script> -->
        
    <%- include('partial/footer') %>