<%- include('partial/header') %>

    <div class="container">
        <a style="float: right;" class="btn btn-primary" href="/index">← Back</a>
        <h5 style="padding: 5px; background-color: #CCC;">Import Common Information</h5>
        <div id="basicData">
            <div class="import-item">
                <p class="item-header">Job No.</p>
                <p class="item-data">
                    <%= imports.jobno %>
                </p>
            </div>
            <div class="import-item">
                
                <p class="item-header">Master BL No.</p>
                <p class="item-data">
                    <%= imports.mblno %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Date on Board</p>
                <p class="item-data">
                    <%= new Date(imports.dateonboard).toDateString() %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">E.T.A</p>
                <p class="item-data">
                    <%= new Date(imports.eta).toDateString() %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Container Type</p>
                <p class="item-data">
                    <%= imports.containertype %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Shipper Name</p>
                <p class="item-data">
                    <%= imports.shipper %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Country of Origin</p>
                <p class="item-data">
                    <%= imports.origin %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Port of Loading</p>
                <p class="item-data">
                    <%= imports.portofloading %>
                </p>
            </div>
            <!-- <div class="import-item">
                <p class="item-header">Created By</p>
                <p class="item-data">
                    <%#= imports.creator.username %>
                </p>
            </div> -->
        </div>
        <!-- Basic info end here -->
        <div id="housebl-info">
            <h5 style="padding: 5px; background-color: #CCC;">House BL Information</h5>
            <table class="table table-hover" style="width: 100%; ">
                <thead class="table-light">
                    <tr>
                        <th>House BL</th>
                        <th>Consignee</th>
                        <th>Container No.</th>
                        <th>Con. Size</th>
                        <th>Cont. Seal No.</th>
                        <th>Invoice</th>
                    </tr>
                </thead>
                <% hbls.forEach(hbl => { %>
                    <tbody>
                        <tr>
                            <td><%= hbl.hblno %></td>
                            <td><%= hbl.consignee %></td>
                            <td><%= hbl.containerno %></td>
                            <td><%= hbl.containerno %></td>
                            <td><%= hbl.containerseal %></td>
                            <td><%= hbl.quantity %></td>
                        </tr>
                    </tbody>
                <% }) %>
            </table>
        </div>


    </div>

    <%- include('partial/footer') %>