
<%- include('partial/header') %>
    <div class="container">
        <h5 style="padding: 5px; background-color: #CCC;">Import Details  
            <span><a class="btn btn-info" href="/index">← Back to Index</a></span></h5>
        <div id="basicData">
            <div class="import-item">
                <p class="item-header">Job No.</p>
                <p class="item-data">
                    <%= imports.jobno %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Master BL No.</p>
                <p class="item-data">
                    <%= imports.mblno %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Date on Board</p>
                <p class="item-data">
                    <%= new Date(imports.dateonboard).toDateString() %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">E.T.A</p>
                <p class="item-data">
                    <%= new Date(imports.eta).toDateString() %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Container Type</p>
                <p class="item-data">
                    <%= imports.containertype %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Shipper Name</p>
                <p class="item-data">
                    <%= imports.shipper %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Country of Origin</p>
                <p class="item-data">
                    <%= imports.origin %>
                </p>
            </div>
            <div class="import-item">
                <p class="item-header">Port of Loading</p>
                <p class="item-data">
                    <%= imports.portofloading %>
                </p>
            </div>
            
        </div>
        <!-- Basic info end here -->
        <div class="import-item">
                <a class="btn btn-info" href="/import/house/<%= imports._id %>">Add New HBL</a>                
            </div>

        <div id="housebl-info">
            <!-- <h5 style="padding: 5px; background-color: #CCC;">House BL Information</h5> -->
            <table class="table table-hover" style="width: 100%; ">
                <thead class="table-light">
                    <tr>
                        <th>House BL</th>
                        <th>Consignee</th>
                        <th>Container No.</th>
                        <th>Con. Size</th>
                        <th>Cont. Seal No.</th>
                        <th>Quantity</th>
                        <th>Create Invoice</th>
                    </tr>
                </thead>
                <% hbls.forEach(hbl=> { %>
                    <tbody>
                        <tr>
                            <td>
                                <%= hbl.hblno %>
                            </td>
                            <td>
                                <%= hbl.consignee %>
                            </td>
                            <td>
                                <%= hbl.containerno %>
                            </td>
                            <td>
                                <%= hbl.containersize %>
                            </td>
                            <td>
                                <%= hbl.containerseal %>
                            </td>
                            <td>
                                <%= hbl.quantity %>
                            </td>
                            <td>
                                <a class="btn btn-info" href="/invoice/<%= hbl._id %>">Create Inv</a>
                            </td>
                        </tr>
                    </tbody>
                    <% }) %>
            </table>
            <!-- <div class="invoice-info" style="display: flex;">
                <div style="border: 1px solid blue;">
                    <table class="table">
                        <thead>
                            <tr>
                                <th style="width: 120px;">HBL No.</th>
                                <th style="width: 120px;">Invoice To</th>
                                <th style="width: 120px;">Amount</th>
                                <th style="width: 120px;">Total Received</th>
                                <th style="width: 120px;">Option</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td style="width: 120px;">bl no</td>
                                <td style="width: 120px;">invoice to</td>
                                <td style="width: 120px;">amount</td>
                                <td style="width: 120px;">received amount</td>
                                <td style="width: 120px;"><a href="#">View Invoice</a></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div style="border: 1px solid red;">
                    <table class="table">
                        <tr>
                            <th>Credit Note</th>
                            <td>Amount</td>
                        </tr>
                    </table>
                </div>
            </div> -->
        </div>
    </div>
    <!-- <script>
        function newhbl() {
            const button = document.getElementById("housebl");
            console.log(button.innerHTML);
        }
    </script> -->
        
    <%- include('partial/footer') %>